body {
  background-color: #f4ffe4;
  background-image: url(../images/trilliumgradient.png);
  background: url(../images/trilliumfoot.gif) no-repeat bottom right,
    url(../images/trilliumgradient.png);
  color: #191970;
  font-family: Arial, Verdana, sans-serif;
  min-width: 700px;
}

footer {
  /*border-top: thin solid #aeaed4;*/
  color: #333333;
  font-size: 0.75em;
  font-style: italic;
  padding-top: 10px;
}

h1 {
  background-color: #191970;
  color: #e6e6fa;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 86px;
  line-height: 200%;
  padding: 15px;
  text-shadow: 3px 3px 5px #cccccc;
}

h2 {
  background-color: #d5edb3;
  background-image: url(../images/trilliumbullet.gif);
  background-repeat: no-repeat;
  /*border-bottom: 2px dashed #191970;*/
  color: #5c743d;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 30px;
  /*text-align: center;*/
}

img {
  border-style: none;
}

p {
  font-size: 0.9em;
  text-indent: 3em;
}

p,
li {
  font-size: 1em;
}

nav {
  font-weight: bold;
  font-size: 0.75em;
}

ul {
  font-weight: bold;
}

.company {
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.25em;
}

.feature {
  color: #c70000;
}

#wrapper {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
