header,
nav,
main,
footer {
  display: block;
}

audio {
  display: block;
  margin-top: 1em;
}

body {
  background-color: #ffffcc;
  background-image: url(../images/background.gif);
  color: #330000;
  font-family: Verdana, Arial, sans-serif;
}

footer {
  background-color: #ccaa66;
  clear: float;
  color: #000000;
  font-size: 0.6em;
  font-style: italic;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

header {
  background-image: url(../images/javalogo.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  background-color: #ccaa66;
  color: #000000;
  /* text-align: center; */
}

h1 {
  margin: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h2 {
  background-color: #ffffcc;
  border-bottom: 1px solid #000000;
  clear: left;
  color: #663300;
  font-size: 1.2em;
  margin-right: 20px;
  padding: 5px 0 0 5px;
  text-transform: uppercase;
}

main {
  background-color: #f2eab7;
  color: #000000;
  margin-left: 150px;
  overflow: auto;
  padding: 10px 20px 30px 20px;
}

nav {
  float: left;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
  width: 100px;
}

nav a {
  text-decoration: none;
  padding-bottom: 15px;
}

nav a:link {
  color: #996633;
}

nav a:hover {
  color: #330000;
}

nav a:visited {
  color: #ccaa66;
}

nav ul {
  list-style-type: none;
}

footer a:link {
  color: #ffffcc;
}

footer a:hover {
  color: #330000;
}

footer a:visited {
  color: #f2eab7;
}

input {
  display: block;
  margin-bottom: 1em;
}

label {
  display: block;
  float: left;
  padding-right: 5px;
  text-align: right;
  width: 8em;
}

table {
  background-color: #ffffcc;
  border-spacing: 0;
  margin: auto;
  width: 90%;
}

textarea {
  display: block;
  margin-bottom: 1em;
}

td,
th {
  padding: 10px;
}

#apply {
  margin-left: 12em;
}

#bodyWrap {
  background-color: #ffffcc;
  margin-left: auto;
  margin-right: auto;
  min-width: 700px;
  max-width: 1024px;
  box-shadow: 3px 3px 3px;
  width: 80%;
}

#desktop {
  display: inline;
}

#mobile {
  display: none;
}

.details {
  overflow: auto;
  padding-left: 20%;
  padding-right: 20%;
}

.floatleft {
  border-style: none;
  float: left;
  padding-bottom: 20px;
  padding-right: 20px;
  width: auto;
  height: 75px;
}
.floatright {
  float: right;
  padding-left: 20px;
}

.oddRow {
  background-color: #ccaa66;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    background-image: none;
  }

  #bodyWrap {
    box-shadow: none;
    margin: 0;
    min-width: 0;
    width: auto;
  }

  header {
    background-image: url(../images/javalogomobile.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
  }

  main {
    font-size: 90%;
    margin: 0;
    padding: 2em;
  }

  nav {
    float: none;
    margin-top: 0;
    padding-top: 0;
    width: auto;
  }

  nav a {
    border-style: none;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em;
    width: 8em;
  }

  nav li {
    display: inline-block;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    margin-right: 0.5em;
    padding: 0.5em 0 0 0.5em;
  }

  nav a {
    border-bottom: 1px #330000;
    display: block;
    padding: 0.2em;
    width: auto;
  }

  nav li {
    display: block;
  }

  .details {
    padding-left: 0;
    padding-right: 0;
  }

  .floatleft {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  .floatright {
    display: none;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }
}
