header,
main,
nav,
footer,
section,
article,
figure,
figcaption,
aside {
  display: block;
}

aside {
  background-color: lightgray;
  box-shadow: 5px 5px;
  float: right;
  font-size: 80%;
  margin-right: 40px;
  padding: 20px;
  position: relative;
  top: -40px;
  width: 200px;
}

body {
  background-color: #00005d;
  /* background-image: -webkit-linear-gradient(#ffffff, #8fa5ce); */
  font-family: Verdana, Arial, sans-serif;
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#ffffffff, 
  endColorstr=#ff8fa5ce);
  background-image: linear-gradient(to bottom, #ffffff, #8fa5ce); */
}

footer {
  clear: both;
  background-color: #869dc7;
  font-size: 70%;
  padding: 10px;
  text-align: center;
}

/* header {
  background-image: url(../images/lighthousebanner.jpg);
  background-repeat: no-repeat;
  height: 150px;
  margin-bottom: 10px;
} */
header {
  background-color: #869dc7;
  background-image: url(../images/lighthouselogo.jpg);
  background-repeat: no-repeat;
  color: #00005d;
  font-size: 150%;
  padding: 10px 10px 10px 155px;
}

h1 {
  margin-bottom: 0;
}
/* h1 {
    
  background-image: url(../images/lighthouselogo.jpg);
  background-repeat: no-repeat;
  border: 1px solid #000033;
  border-radius: 15px;
  font-size: 3em;
  height: 100px;
  width: 650px;
  padding-left: 150px;
  padding-top: 30px;
  text-shadow: 3px 3px 3px #666;
  margin-bottom: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
} */

h2 {
  color: #869dc7;
  font-family: Arial, sans-serif;
  font-size: 200%;
  /* text-shadow: 1px 1px 0 #ccc; */
}

main {
  background-color: #ffffff;
  color: #000000;
  display: block;
  padding: 10px 20px;
  overflow: auto;
}

nav {
  float: left;
  font-weight: bold;
  letter-spacing: 0.1em;
  /* position: fixed; */
  width: 200px;
}

nav a {
  /* background-color: #b3c7e6;
  background-image: url(../images/sprites.gif);
  background-repeat: no-repeat;
  background-position: right -100px;
  border-bottom: 1px solid #ffffff; */
  display: block;
  font-weight: bold;
  padding: 20px;
  text-decoration: none;
}

nav a:link {
  color: #ffffff;
}

nav a:hover {
  background-color: #eaeaea;
  background-position: right -100px;
  color: #869dc7;
}

nav a:visited {
  color: #eaeaea;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#container {
  background-color: #b3c7e6;
  color: #000066;
  margin: auto;
  /* min-width: 960px;
  max-width: 1200px; */
  width: 80%;
}

#floatright {
  float: right;
  margin: 10px;
}
/* #rightcol {
  margin-left: 155px;
  background-color: #ffffff;
} */

#tagline {
  color: #00005d;
  padding-right: 20px;
  text-align: right;
  font-size: 0.8em;
  font-style: italic;
}

article > header {
  background-color: #ffffff;
  background-image: none;
  font-size: 90%;
  height: auto;
  padding-left: 0;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
  }
  #container {
    width: auto;
  }
  h1,
  h2 {
    font-size: 120%;
  }
  main {
    margin-left: 0;
  }
  nav {
    float: none;
    width: auto;
  }
  nav a {
    border-style: none;
  }
  nav li {
    display: inline-block;
    padding: 0.5em;
  }
  nav ul {
    text-align: center;
  }
  p {
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px) {
  h1,
  h2 {
    font-size: 100%;
  }
  p {
    font-size: 90%;
  }
  figure {
    display: none;
  }
  nav,
  nav ul,
  nav li {
    padding: 0;
  }
  nav li {
    display: block;
  }
  nav a {
    display: block;
    padding: 0.5em 0;
    border-bottom: 2px ridge #00005d;
  }
}
